/* Para o tema Furo - seletores mais específicos */
.rst-content p,
article p,
.content p {
    text-align: justify !important;
    text-justify: inter-word;
}

/* Alternativa ainda mais específica */
main.main article.main-article div.content p {
    text-align: justify !important;
    text-justify: inter-word;
}

body {
    /* Diminui a fonte de todo o site */
    font-size: 14px; 
    
    /* Tentativa de forçar a largura do menu */
    --sidebar-width: 13rem !important; 
    
    /* Alarga a área de texto para aproveitar o espaço que vai sobrar na direita */
    --content-width: 60rem !important; 
}

/* Alinha o site inteiro (Menu + Texto) à esquerda da tela */
.page {
    justify-content: flex-start !important;
}

/* Remove as margens esquerdas extras que o Furo coloca em monitores grandes */
@media screen and (min-width: 75em) {
    .page {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
}