/* Para o tema Furo - seletores mais específicos */
.rst-content p,
article p,
.content p {
    text-align: justify !important;
    text-justify: inter-word;
}

/* Alternativa ainda mais específica */
main.main article.main-article div.content p {
    text-align: justify !important;
    text-justify: inter-word;
}

/* Forçar a largura do menu lateral no Furo (Claro e Escuro) */
html, 
body[data-theme="light"], 
body[data-theme="dark"] {
    --sidebar-width: 180px !important;
}

/* Diminui a fonte de todo o site */
body {
    font-size: 14px; 
}